/* For white-on-black text */
body {
    background-color: black;
    color: white;
}

.stimulus {
    font-family: Computer Modern Sans;
    font-size: 128px;
}

.instruction {
    line-height: normal;
    font-family: Computer Modern Sans;
    font-size:37px;
    text-align: justify;
}

textarea {
min-height: 60px;
overflow-y: auto;
width: auto;
word-wrap:break-word
}
